body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(49, 43, 43);
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.logo-img{
    width: 100px;
    height: 100px;
}
.padre-lista-menu{
    display: flex;
    gap: 15px;
    list-style: none;
}
.links-menu{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    
}
.links-menu:hover{
    background-color: rgba(85, 85, 84, 0.561);
    transform: scale(1.15);
}

/*--------------------------------- PRIMERA SECTION------------------------------------------------------*/
.primera-sec{
    margin: 0 auto;
    width: 90%;
    display: flex;   
    justify-content: start;
    align-items: center;
    gap: 100px;
    flex-direction: row;
    margin-bottom: 40px;
    background-image: url('https://images.unsplash.com/photo-1578590584465-4ddad6674644?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.titulo-y-txt{
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    order: 2;
    background-color: #61130083;
    padding: 10px;
    height: 60%;
    color: white;
    box-shadow: 10px 10px 5px 0px rgba(245, 245, 245, 0.20);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.20);
    -moz-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.20);
}
.texto-ps{
    font-size: 25px;
    text-align: center;
    margin-bottom: 100px;
    padding: 10px;
    padding-top: 0px;
    margin-top: 0px;
}

h1{
   padding-top: 50px;
   padding-bottom: 0px;
   font-size: 55px;
   text-align: center;
   align-items: center;
   justify-content: center;
   color: #ee8100;
   
}

/*--------------------------------- SEGUNDA SECTION------------------------------------------------------*/
.fondo-sec2-100{
    background: rgb(238,129,0);
    background: radial-gradient(circle, rgba(238,129,0,1) 0%, rgba(220,114,0,1) 0%, rgba(131,42,0,1) 45%, rgba(97,19,0,1) 100%,
     rgba(0,212,255,1) 100%);
    -webkit-box-shadow: 2px -11px 21px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px -11px 21px 0px rgba(0,0,0,0.5);
    box-shadow: 2px -11px 21px 0px rgba(0,0,0,0.5);
    display: flex;
    width: 100%;
}
.segunda-sec{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 15px ;
    padding-bottom: 15px;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    padding: 100px;
    padding-bottom: 200px;
}
.tar{
    width: 400px;
    height: 600px;
    padding: 10px;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.cont-img-philip{
    width: 400px;
    height: 300px;
    background-image: url('https://atencion24.ar/wp-content/uploads/2022/03/86d0f004-39db-4812-b866-5262f59fed61.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 1px white;
    border-radius: 5px;
}
.cont-img-chester{
    width: 400px;
    height: 300px;
    background-image: url('https://atencion24.ar/wp-content/uploads/2022/03/a25e0da6-b05f-4a97-b078-8ca5850a7afd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px white;
    border-radius: 5px;
}
.cont-img-mal{
    width: 400px;
    height: 300px;
    background-image: url('https://cdn.benzinga.com/files/imagecache/story_image_685x375C/images/story/2022/07/21/marlboro_ice_blast_open.jpg?crop=smart&height=375&width=685&optimize=medium&dpr=1&auto=webpps://atencion24.ar/wp-content/uploads/2022/03/a25e0da6-b05f-4a97-b078-8ca5850a7afd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px white;
    border-radius: 5px;
}
h6{
    font-size: 20px;
    margin-top: 20px;
    padding: 0px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: solid 1PX white;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.texto-tar{
    margin-top: 0px;
    padding-top: 0px;
    text-indent: 10px;
}

@media (max-width:600px){
    body{
        background-color: #000000;
    }
    .titulo-y-txt{
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        order: 2;
        background-color: #61130083;
        padding: 10px;
        height: 100%;
        color: white;
        box-shadow: 10px 10px 5px 0px rgba(245, 245, 245, 0.20);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.20);
        -moz-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.20);
    }
    .texto-ps{
        font-size: 15px;
        text-align: center;
        margin-bottom: 100px;
        padding: 10px;
        padding-top: 0px;
        margin-top: 0px;
    }
    
    h1{
       padding-top: 5px;
       padding-bottom: 0px;
       font-size: 55px;
       text-align: center;
       align-items: center;
       justify-content: center;
       color: #ee8100;
       
    }
}